<!DOCTYPE html>
<html>
<head>
  <title>CV Generator</title>
  
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Welcome to the CV Generator!</h1>
  <p>Generate your CV using your LinkedIn data.</p>
  <img src="your_generated_background_image_url" alt="background image">
  <a href="#" onclick="openLinkedInAuthPopup('/auth/linkedin');"><button>Login with LinkedIn</button></a>
  <a href="#" onclick="openLinkedInAuthPopup('/auth/linkedin');"><button>Sign up with LinkedIn</button></a>

  <script src="/javascripts/popup.js"></script>

</body>
</html>