<!DOCTYPE html>
<html>
  <head>
    <title>Generated CV</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h1>Your New CV</h1>
      <pre><%= generatedCV %></pre>
      <a href="/loggedin" class="btn btn-primary">Go back</a>
    </div>
  </body>
</html>