<!DOCTYPE html>
<html>
<head>
  <title>CV Generator - Results</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Generated CV for <%= user.firstName %></h1>
  <pre><%= generatedCV %></pre>
  <a href="/loggedin">Go back</a>
</body>
</html>